<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Volume MQTT</title>
    <link rel="icon" type="image/png" href="./static/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="./static/favicon.svg" />
    <link rel="shortcut icon" href="./static/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="./static/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Data Volume MQTT" />
    <link rel="manifest" href="./static/site.webmanifest" />
    <meta name="theme-color" content="#F77440">
    {% assets "style_bundle" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "script_bundle" %}
        <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
    {% endassets %}
</head>
<body>
    <div>
        <h1>Data Volume MQTT</h1>
        <div id="message-box"></div>
        <main>
            <div class="gauge" id="used-volume-bar">
                <div class="inner-circle"></div>
            </div>
            <div class="gauge-data">
                <p id="used-volume-text">-1 GB</p>
                <p id="total-volume-text">999 GB</p>
                <p id="used-volume-percentage">66,5%</p>
            </div>
        </main>
        <details>
            <summary id="remaining-time-text">2 days 42 hours</summary>
            <div>
                <div>
                    Time:
                    <div class="bar" id="remaining-time-bar">
                        <div class="inner-bar"></div>
                        <p class="percentage"></p>
                    </div>
                </div>
                <div>
                    Data:
                    <div class="bar" id="remaining-data-bar">
                        <div class="inner-bar"></div>
                        <p class="percentage"></p>
                    </div>
                </div>
            </div>
        </details>
        <footer>
            <p><span>Made with</span><span class="heart">❤️</span><span>by</span><span><a href="https://github.com/tim0-12432" target="_blank">Tim0-12432</a></span></p>
        </footer>
    </div>
</body>
</html>
